<html>
<body>
	<table width="100%" height="100%" cellspacing="0" cellpadding="0">
		<% row = 0 %>

		<tr class="row-<%= row %>">

		<% @issues.each do |i| %>

			<td valign="top" class="<%= (@issues.index(i) % 2 == 0) ? "left" : "right" %>">

				<h1><%= i.key %>: <%= i.summary %></h1>

				<div class="type <%= i.issue_type.downcase %>"><%= i.issue_type %></div>

				<dl>
					<dt>Points</dt><dd><%= i.points %></dd>
					<dt>Priority</dt><dd><%= i.priority %></dd>
					<dt>Story Owner</dt><dd><%= i.assignee.capitalize %></dd>
                </dl>
			</td>

			<% if @issues.index(i) % 2 != 0 %>
                  
				<% row +=1 %>

				</tr>

				<% if row % 3 == 0 %>

					</table>

					<table style="margin-top:16px;" width="100%" height="100%"  cellspacing="0" cellpadding="0">

				<% end %>

				<tr class="row-<%= row  %> <%= ((row + 1) % 3 == 0)? "third-row" : "" %>">

			<% end %>

		<% end %>
	</table>
</body>
</html>